<!DOCTYPE html>
<html>
  <head>
    <title>High Rollers of VM 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:100' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style type="text/css">
      @import url('/styles/vm.css');
    </style>
    <script type="text/javascript">

      $(function()
      {
        $(window).resize(function() {
          setTimeout(function()
          {
            $('header').css('width', $( document ).width());  
          }, 50);
        });

        $(window).resize();
      });
      
    </script>
  </head>
  <body>


    <header>
      <div class="title">
        <h1><span><small>World Cup 2014</small><br><nobr>High Rollers Club</nobr></span><h1>
      </div>
    </header>

    <div class="wrap">

      <div class="page">
        <%- body %>
      </div>

    </div>
    
  </body>
</html>
