<h2>Registrering pågår</h2>

<p>Välkommen åter den 12:e juni. Då kommer du kunna följa ställningarna här.</p>

<h3>Intresserad av att vara med?</h3>
<p>Skicka ett mail till <script type="text/javascript">var a = '@'; var b = 'oskar' + a + 'oskob.me'; document.write('<a href="mailto:"' + b + '>' + b + '</a>');</script> så får du instruktioner!</p>